{%extends "base.html"%}
{%load bootstrap3%}
{%block contents%}
        <div class="jumbotron" style="background-color:#dbd9d9 !important;">
            {%if user.is_authenticated%}        
                <form enctype="multipart/form-data" method="POST">
                    {%csrf_token%}
                    {{form.non_field_errors }}
                    {%bootstrap_form form%}
                    <input type="submit" class="btn btn-primary" value = "Post">
                    <button type="Cancel"  class="btn btn-info" formaction="/creo/profile/" style="margin-left: 8px;">Cancel</button>
                </form>
            {%else%}
            {%endif%}
        </div>
{% endblock %}