{% extends "base.html" %}

{% block contents %}
<div class="jumbotron">
      <nav class="navbar navbar-default">
            <div class="container-fluid"  style="background-color:#EEEEEE";>
            <!-- Brand and toggle get grouped for better mobile display -->      
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                        <li><a href="{%url 'allaudio' slug='mostview' %}">Most Viewd</a></li>
                        <li><a href="{%url 'allaudio' slug='newest'%}">New</a></li>
                        <li><a href="{%url 'allaudio' slug='mostliked'%}">Most Liked</a></li>
                  </ul>
                  </li>
                  </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
      </nav>
{% if latest_submissions %}
{% for submission in latest_submissions %}


<div class="row">
      {%if submission.post_type == 2 %}
      <div class="edit1">
      <a href="{% url 'detailpost' submission.id %}">
            <div class="container">
                        <audio controls>
                                    <source src="{{ submission.content.url }}/" type="audio/ogg" style="max-width:100%; height:auto;">
                                    <source src="{{ submission.content.url }}/" type="audio/mpeg" style="max-width:100%; height:auto;">
                                    Your browser does not support the audio tag.
                              </audio>
            </div>
      </a>
      <div class="overlay">{{submission.title}}</div>
      {%endif%}
</div>
{% endfor %}

{% else %}
<p>No submissions are available.</p>
</div>
{% endif %}
{% endblock %}
