{% extends "base.html" %}

{% block contents %}
<div class="jumbotron" style="background-color:#dbd9d9 !important;">
      <div class="dropdown" style="float:right;">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color:indianred;">Filter
            <span class="caret"></span></button>
            <ul class="dropdown-menu">

                              <li><a href="{%url 'allimage' slug='mostview' %}">Most Viewd</a></li>
                              <li><a href="{%url 'allimage' slug='newest'%}">New</a></li>
                              <li><a href="{%url 'allimage' slug='mostliked'%}">Most Liked</a></li>
                       </ul>
      </div>
{% if latest_submissions %}
{% for submission in latest_submissions %}
<div class="row">
      {%if submission.post_type == 0 %}
      <div class="edit1">
                  <a href="{% url 'detailpost' submission.id %}">
                        <img id="img1" src="{{ submission.content.url }}/">
                        <div class="overlay">{{submission.title}}</div>
                  </a></div>
            
      {%endif%}
</div>
{% endfor %}
{% else %}
<p>No submissions are available.</p>
</div>
{% endif %}
{% endblock %}