{% extends "base.html" %}

{% block contents %}
<div class="jumbotron">
{% if latest_submissions %}
{% for submission in latest_submissions %}

<div class="row">
      {%if submission.post_type == 0 %}
      <div class="edit1">
            <h3 id="box1">{{submission.title}}</h3>
            <a href="{% url 'detailpost' submission.id %}"><img id="img1" src="{{ submission.content.url }}/"></a>
            <div class="edit2">
            <h5>Caption : {{submission.description}}</h5>
            <h5>Date : {{submission.pub_date|date:"D d M Y"}}</h5>
            <h5>views:{{submission.view_count}}</h5>
            </div>
      </div>
      {%endif%}
</div>
{% endfor %}
{% else %}
<p>No submissions are available.</p>
</div>
{% endif %}
{% endblock %}
