{%extends "base.html"%}
{%load bootstrap3%}
{%block contents%}
        <div class="jumbotron" style="background-color:#dbd9d9 !important;">
            {%if registered%}
                <h3>Account Created !</h3>
            {%else%}
            <div class="edit3">
            <form enctype="multipart/form-data" method="POST">
                <h3>Create Account</h3>
                {%csrf_token%}
                {{ user_form.non_field_errors }}
                {{ profile.non_field_errors }}
                {%bootstrap_form user_form%}
                {%bootstrap_form profile_form%}
                <input type="submit" class="btn btn-primary" value = "Create">
            </form>
            </div>
            {%endif%}
        </div>
    </div>
    <div style="background-color:#282c2f; height: auto;" >
            <div class="footer" style="color: #dbd9d9; padding:10px; " id="clearfix" >
                <div>
                <div style=" display: inline-block;">
                    <a href="{%url 'aboutus'%}"><h5 >About us</h5></a>
                    <h6 style="letter-spacing: 4px;">&copy; 2019 CREO</h6>
                </div>
                <a href="https://github.com/utsavdarlami/django-creo"> 
                    <img src="/media/image/icon/github_logo3.png" alt="github" style="float: right; width:200px;">
                 </a>
            </div>
    </div>
{% endblock %}
<!--
        <div class="jumbotron">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
            <div class="jumbotron">
                <div id="id01" class="modal"> 
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <form class="modal-content" action="/action_page.php">
                        {%csrf_token%}
                        {{user_form.as_p}}
                        {{profile_form.as_p}}
                        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        
                        <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        -->