{%extends "base.html"%}
{%block contents%}
        <div class="jumbotron">
            {%if registered%}
                <h3>Account Created !</h3>
            {%else%}
            <div class="edit1">
            <form enctype="multipart/form-data" method="POST">
        
                <h3>Create Account</h3>
                {%csrf_token%}
                {{ user_form.non_field_errors }}
                {{ profile.non_field_errors }}
                {{user_form.as_p}}
                {{profile_form.as_p}}
                <input type="submit" class="btn btn-primary" value = "Create">
            </form>
            </div>
            {%endif%}
        </div>
{% endblock %}
<!--
        <div class="jumbotron">
            <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Sign Up</button>
            <div class="jumbotron">
                <div id="id01" class="modal"> 
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <form class="modal-content" action="/action_page.php">
                        {%csrf_token%}
                        {{user_form.as_p}}
                        {{profile_form.as_p}}
                        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
        
                        <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        -->
