{% extends "base.html" %}

{% block contents %}

<div class="jumbotron" style="background-color:#dbd9d9 !important;">
    {%if request.user == submission.publisher%}
        <div class="btn-group" role="group" aria-label="Basic example">
                    <form action="update/">
                        <input type="submit" class="btn btn-info" value="Update">
                    </form>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
                <form action="delete/">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
        </div>
    {%endif%} 
    <div class="edit3">
    <h1 id="font1">{{submission.title}}</h1>
    <p id="box1" style="font-family:'Noto Serif', serif; font-weight:bold; font-size:15px;">Date : {{submission.pub_date|date:"D d M Y"}}</p>
 
    {%if submission.post_type == 1 %}
    <video id="video1" controls>
                <source src="{{ submission.content.url }}/" type="video/mp4">
                <source src="{{ submission.content.url }}/" type="video/ogg">
                Your browser does not support the video tag.
    </video> 
    {%endif%}

    {%if submission.post_type == 0 %}
        <img id="img1" src="{{ submission.content.url }}">

    {%endif%}

    {%if submission.post_type == 2 %}
   
        <div class="file-container">
            <div class="container" style="text-align: center; border:2px solid black; padding-top:50px;">
                      <span style=" display: inline-block;" >
                            <i class="fas fa-music fa-10x"></i>
                      </span>
                      <p></p>
            <div style="text-align: center;">
                <div class="audio-container" style=" display: inline-block;padding-top: 20px; padding-bottom: 20px;">
                     <div class="audio-box-container">
                            <audio controls  >
                                  <source src="{{ submission.content.url }}/" type="audio/ogg" style="max-width:100%; height:auto;">
                                  <source src="{{ submission.content.url }}/" type="audio/mpeg" style="max-width:100%; height:auto;">
                                  Your browser does not support the audio tag.
                            </audio>
                      </div>
                </div>       
            </div>
            </div> 
        </div>

        
    {%endif%}

    <h5 style="font-family:'Noto Serif', serif; font-weight:bold; font-size:18px;">{{submission.description}}</h5>
    
    <div class="edit2">
    </div>
    
    <div style="margin-bottom:10px; margin-top: 10px;">
        {%if liked%}
        {%if liked.like == True%}
            <a href="{%url 'addlike' submission.id%}">
                <span style="font-size: 2em;color: #d82b2b;">
                    <i class="fas fa-heart"></i>
                </span>
            </a>
            <p style="display:inline; font-size: 16px; font-weight: bold;"> {{submission.like_count}} likes</p>
        {%endif%}
        {%if liked.like == False%}
            <a href="{%url 'addlike' submission.id%}">
                <span style="font-size: 2em;color: #d82b2b;">

                <i class="far fa-heart"></i>
            </span>
            </a>
            <p style="display:inline; font-size: 16px; font-weight: bold;"> {{submission.like_count}} likes</p>
        {%endif%}
    {%endif%}

    {%if not liked%}
    <a href="{%url 'addlike' submission.id%}">
            <span style="font-size: 2em;color: #d82b2b;">

            <i class="far fa-heart"></i>
        </span>
     </a>
     <p style="display:inline; font-size: 16px; font-weight: bold;"> {{submission.like_count}} likes</p>

    {%endif%}

        <!--saving button-->
        {%if saved%}
            {%if saved.save_post == True%}
                <div class="div" style="display: inline; float:right;">
                    <a href="{%url 'saved' submission.id%}">
                        <span style="font-size: 2em;color: #4e4c4c;">
                            <i class="fas fa-bookmark"></i>
                        </span>
                    </a>
                </div>
            {%endif%}
            {%if saved.save_post == False%}
                <div class="div" style="display: inline;float: right;">
                    <a href="{%url 'saved' submission.id%}">
                        <span style="font-size: 2em;color: #4e4c4c;">
                            <i class="far fa-bookmark"></i>
                    </span>
        
                    </a>
                </div>
            {%endif%}
        {%endif%}
        {%if not saved%}
            <div class="div" style="display: inline;float: right;">
            <a href="{%url 'saved' submission.id%}">
                <span style="font-size: 2em;color: #4e4c4c;">
                    <i class="far fa-bookmark"></i>
                </span>    
            </a>
            </div>

        {%endif%}
        <p style="margin-top:20px;">
            <p style="font-family: 'Open Sans', sans-serif; font-weight:bold; font-size:18px; display: inline;">Artist:
                {%if liked.like == True%}
                <a href="{%url 'artistdetail' submission.publisher %}">{{submission.publisher}}</a>
                {%endif%}
        </p>
    <h4 style=" float:right;font-size: 20px;"><i class="fa fa-comments" style="font-size:20px">{{submission.comment_count}}</i></h4>
    <form action="{% url 'addcomment' submission.id %}" method="post">
        
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit" class="btn btn-success" >Submit</button>
    </form> 
    </p>

    {%if liked%}
        {%if liked.like == True%}
        <p>
            <h4 style="font-family:'Noto Serif', serif; font-weight:bold; font-size:18px;">Comments:</h4>
            <div class="edit4">
            <ul>
                {%for comment in comments%}
                    <li><p style="font-family:'Noto Serif', serif; font-size:15px;"><a href="{%url 'artistdetail' comment.publisher %}">{{comment.publisher}} </a>: {{comment.comment}}</p></li>
                {%endfor%}   
            </ul>
        </p>
        {%endif%}
    {%endif%}
    
    </div>
</div>
</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock %}
