{% extends "base.html" %}

{% block contents %}

<div class="jumbotron">

    <h3>{{submission.title}}</h3>
    <h5>Date : {{submission.pub_date|date:"D d M Y"}}</h5>
    <h5>By : <a href="{%url 'artistdetail' submission.publisher %}">{{submission.publisher}}</h5></a>
    <img src="{{ submission.content.url }}" style="width:50%;height:auto;">
    <h5>{{submission.description}}</h5>
    <h5>comments:{{submission.comment_count}}</h5>
    <p>
        <h4>Comments</h4>
        <ul>
        {%for comment in comments%}
            <li><h5>{{comment.pub_date|date:"D d M Y"}}</h5></a>
            <h6><a href="{%url 'artistdetail' comment.publisher %}">{{comment.publisher}} </a>: {{comment.comment}}</h6></li>
        {%endfor%}
        </ul>
    </p>
    
    <label>Your comment</label>
    <form action="{% url 'addcomment' submission.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit" class="btn btn-success" >Submit</button>
    </form> 

</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% endblock %}
<!--
<label>Your comment</label>
<form action="{% url 'images:comment' submission.id %}" method="post">
{% csrf_token %}
{{ form }}
<br>
<input type="submit" value="Submit">
</form> 
-->

<!--<ul>
{% for comment in submission.comment_set.all %}
<li>{{ comment.pub_date }}: {{ comment.comment_text }}</li>
{% endfor %}
</ul>
-->