{%extends "base.html"%}
{%block contents%}

        <div class="jumbotron">
           <!-- {%if alluser%}
                <h6>{{alluser.user}}</h6>
                <img src="{{alluser.profile_pic.url}}" class="img-thumbnail" alt="user profile pic" width="200">
                
            
                     {{user.first_name}} {{user.last_name}}
                
            {%else%}
            --NO USERS--           
            {%endif%}-->
            <div class="media">
                <img class="mr-3" src="{{alluser.profile_pic.url}}" alt="user profile pic" width="150">
                <div class="media-body">
                    <ul>                
                        <li><h5><a href={{alluser.portfolio_site}}>Instagram</a></h5></li>
                        <li><h5>Mail id : {{u.email}}</h5></li>
                        <li><h5>pk : {{alluser.pk}}</h5></li>

                    </ul>
                </div>
              </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
            <form action="/creo/delete/{{u.pk}}">
                    <input type="submit" class="btn btn-danger" value="Delete">
            </form>
            <form action="/creo/update/{{u.pk}}">
                <input type="submit" class="btn btn-info" value="Edit">
            </form>
            </div>
{% endblock %}
