{%extends "base.html"%}
{%block contents%}
    
        <div class="jumbotron">
           <!-- {%if alluser%}
                <h6>{{alluser.user}}</h6>
                <img src="{{alluser.profile_pic.url}}" class="img-thumbnail" alt="user profile pic" width="200">
                
            
                     {{user.first_name}} {{user.last_name}}
                
            {%else%}
            --NO USERS--           
            {%endif%}-->
            <div class="media">
                <h3>{{alluser}}</h3>
                <div class="media-body">
                </div>
              </div>
            </div>
            <div>
                <div class="btn-group" role="group" aria-label="Basic example">
                <form action="/creo/delete/{{u.pk}}" style="display: inline;">
                        <input type="submit" class="btn btn-danger" value="Delete" >
                </form>
                <form action="/creo/userupdate/{{u.pk}}" style="display: inline;">
                    <input type="submit" class="btn btn-info" value="Update Email">
                </form>
                <form action="/creo/portfolioupdate/{{alluser.pk}}" style="display: inline;">
                    <input type="submit" class="btn btn-info" value="Update Portfolio">
                </form>
                </div>
            </div>
{% endblock %}
