{%extends "base.html"%}
{%block contents%}

        <div class="jumbotron">
            {%if user_list%}
                {%for user in user_list%}
                <h6>{{user.user.username}}</h6><img src="{{user.profile_pic.url}}" class="img-thumbnail" alt="user profile pic" width="200">

                <ul>                
                    <li><h5><a href={{user.portfolio_site}}>Instagram</a></h5></li>
                    <li>{{user.email}}</li>

                </ul>
                    
                {%endfor%}
            {%else%}
            --NO USERS--           
            {%endif%}
        </div>
{% endblock %}
