#h1first{
	font-family: 'ZCOOL KuaiLe', cursive;
}

body{
	background-color: #121416;
}



.style{
	display: table-cell;
   text-align: center;
   vertical-align: middle;
	background-color: #121416;
	width: 300px;
	border:3px solid white;
	padding: 25px;
	margin: 25px;
	color: white;
}

.style1{
	padding-left: 600px;
	padding-bottom: 100px;
	padding-top: 100px;
}

.container{
	padding-bottom: 10px;
}