{%extends "base.html"%}
{%load bootstrap3%}
{%block contents%}
        <div class="jumbotron" style="background-color:#dbd9d9 !important;">
            {%if registered%}
                <h3>Account Created !</h3>
            {%else%}
            <div class="edit3">
            <form enctype="multipart/form-data" method="POST">
                <h3>Create Account</h3>
                {%csrf_token%}
                {{ user_form.non_field_errors }}
                {{ profile.non_field_errors }}
                {%bootstrap_form user_form%}
                {%bootstrap_form profile_form%}
                <input type="submit" class="btn btn-primary" value = "Create">
            </form>
            </div>
            {%endif%}
        </div>
    </div>
    <div style="background-color:#282c2f; height: auto;" >
            <div class="footer" style="color: #dbd9d9; padding:10px; " id="clearfix" >
                <div>
                <div style=" display: inline-block;">
                    <a href="{%url 'aboutus'%}"><h5 >About us</h5></a>
                    <h6 style="letter-spacing: 4px;">&copy; 2019 CREO</h6>
                </div>
                <a href="https://github.com/utsavdarlami/django-creo"> 
                    <img src="/media/image/icon/github_logo3.png" alt="github" style="float: right; width:200px;">
                 </a>
            </div>
    </div>
{% endblock %}