{%extends "base.html"%}

    {%block contents%}
        <div class="jumbotron" >
            <h1>Creo Project</h1>
            <h4>Welcome to our Project: Creo </h4><br>
            <p>We live in the time where name of the person carries more weight than the work they do.
                This manipulation of what’s good and what’s not based on the name behind works as derogatory factor for the newcomers who are desperate and willing to put in their best performances in order for their works to get recognized.
                This sort of “trend” is evident in many aspects of our current days, where name matters more than their work.
                The social media and internet as a whole throughout has been able to create this hype and brainwash people into liking something just because of who was behind the creation of that particular thing.
                For example a well-established artist is destined to get more views and appreciation on their work in comparison to their newcomer counterparts even when the content of the new comer artist is far well beyond the artist with pre-established name and fame.
                Creo breaks this stereotypical platform and does contrary to it.
                Here, products matter more than the name behind it.</p>
            <p>
             Creo provides the content creator and consumers with an all-access platform by which one will be able to get access to view and post all different types of media such as: - photos, videos and audios. 
        </p>
          <p> Creo offers to promote the local artists by providing them with a media-sharing platform where the young artists and newcomers are provided with the opportunity to sell their work without having to go through the preparations for an art exhibition.
            In today’s world, digital marketing is become more and more relevant, therefore the presence of a digital art sharing platform like Creo serves to prove as an easy and convenient way to promote your art without any charges. 
          </p>
          <p>
            Along with all the functionality and features, Creo also serves as link between customers and artist via their portfolio and contact information where the customer where upon necessary will be able to contact the artist.
            </p>
        </div>
    {% endblock %}
