<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Creo Verse</title>

    
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href='/'>Welcome</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class = "nav navbar-nav">
                    <li class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url "allusers" %}">Users</a>
                    </li>

                    {%if user.is_authenticated%}

                        <li class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url "profile" %}">Profile</a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url "user_logout" %}">Log Out</a>
                        </li>
                        {%block navcontents%}
                        {%endblock%}
                    {%else%}
                    
                        <li class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url "signin" %}">LogIn</a>
                        </li>
                        <li class="navbar-nav">
                            <a class="nav-item nav-link" href="{% url "createaccount" %}">CreateAccount</a>
                        </li>


                    {%endif%}
                </ul>
            </div>
        </nav>

    <div class="container">
        {%block contents%}
        {%endblock%}
    </div>
</body>
</html>