{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Creo</title>
	<meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static '/css/intro.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
  <link rel="icon"  href="{% static 'image/icon/title.png' %}">

</head>


<body style="background-color:#121416;">
<div id="div1">
  <h1 style="font-size: 100px;">CREO</h1>
  <p style="font-size: 30px;">Welcome To Creativity!</p>
</div>
<div class="container">
<div class="first">
<nav class="navbar navbar-default narvbar-brand navbar-fixed">    
  	<div class="container-fluid abc">
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/" style="color:whitesmoke;">Home</a></li>
            <li class="nav-item"><a href="{% url "homecreo" %}" style="color:whitesmoke;">Photos</a></li>
            <li class="nav-item"><a href="#" style="color:whitesmoke;">Videos</a></li>
            <li class="nav-item"><a href="#" style="color:whitesmoke;">Music</a></li>
            <li class="nav-item"><a href="{% url "post" %}" style="color:whitesmoke;">Post</a></li>
            <li class="nav-item"><a href="{% url "allusers" %}" style="color:whitesmoke;">All Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {%if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url "profile" %}">Profile</a>
                </li>
                <li class="nav-item">
                     <a class="nav-item nav-link" href="{% url "user_logout" %}">Log Out</a>
                </li>
            {%block navcontents%}
            {%endblock%}
            {%else%}
                <li class="nav-item">
                    <a style="color:whitesmoke"; class="nav-item nav-link" href="{% url "signin" %}" style="color:whitesmoke";><span class="glyphicon glyphicon-log-in"></span> Log In</a>
                </li>
                <li class="nav-item">
                    <a style="color:whitesmoke"; class="nav-item nav-link" href="{% url "createaccount" %}" style="color:whitesmoke";><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
            {%endif%}
        </ul>
    </div>
</nav>
</div>
<div class="container">
        {%block contents%}
        
        {%endblock%}
</div>
</div>

</body>
</html>



<!--login--><!--
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<div id="id01" class="modal">
    <div class=container>
        <form class="modal-content animate" action="{%url 'signin'%}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="Username">Username</label>
            <input name ="Username" type="text" class="form-control" id="Username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    </div>
</div>
-->



