{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Creo</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/intro.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/sample1.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/logsign.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet">
  <link rel="icon"  href="/media/image/icon/Ctitle.png">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Staatliches" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  



  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>


<body style="background-color:#444951;">
    <nav class="navbar navbar-default narvbar-brand navbar-fixed-top" style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background-color: #2f3238; min-height:55px;">    
        <div class="container-fluid abc">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>                        
                        </button>
                      </div>

            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                    <li><a href="{%url 'index'%}">
                            <span style="color: whitesmoke;">
                                <h1 style="display: inline; border-right: 2px solid whitesmoke; padding-right: 20px;"><img src="/media/image/icon/creohome.jpg" width="90px"></h1></i>
                            </span>
                          </a></li>
                          <li><a href=" {% url 'allimage' %} ">
                            <span style="font-size: 1.2em; color: whitesmoke;">
                                <i class="fas fa-images" style="padding-top:30px;" ><p style="font-family: 'Open Sans', sans-serif; display: inline; padding-left: 5px;">Photos</p></i>
                            </span>
                          </a></li>
                          <li><a href=" {% url 'allvideo' %} ">
                            <span style=" font-size: 1.2em;color: whitesmoke;;">
                                <i class="fas fa-video" style="padding-top:30px;" ><p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Videos</p></i>
                            </span>
                          </a></li>
                          <li><a href="{%  url 'allaudio' %}">
                            <span style=" font-size: 1.2em;color: whitesmoke;;">
                                <i class="fas fa-headphones" style="padding-top:30px;"> <p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Audio</p></i>
                            </span>
                          </a></li>
                          <li><a href="{%  url 'post' %} ">
                            <span style="font-size: 1.2em;color: whitesmoke;;">
                                <i class="fas fa-upload" style="padding-top:30px;"><p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Posts</p></i>
                            </span>
                          </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    {%if user.is_authenticated%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">
                                <span style="font-size: 1.2em;color: whitesmoke;;">
                                    <i class="fas fa-sign-in-alt" style="padding-top:30px;"><p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Profile</p></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_logout' %}">
                                <span style="font-size: 1.2em;color: whitesmoke;;">
                                    <i class="fas fa-user" style="padding-top:30px;"> <p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Log Out</p></i>
                                </span>
                            </a>
                        </li>
                {%block navcontents%}
                {%endblock%}
                {%else%}
                <li class="nav-item">
                        <a class="nav-link" href="{% url 'signin' %}">
                            <span style="font-size: 1.2em; color: whitesmoke;;">
                                <i class="fas fa-sign-in-alt" style="padding-top:30px;"><p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Log In</p></i>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'createaccount' %}">
                            <span style="font-size: 1.2em; color: whitesmoke;;">
                                <i class="fas fa-user" style="padding-top:30px;"><p style="font-family: 'Open Sans', sans-serif;display: inline;padding-left: 5px;">Sign Up</p></i>
                            </span>
                        </a>
                    </li>
                {%endif%}
            </ul>
        </div>
        </div>
        </nav>
    

        <div class="container">
        {%block contents%}
        
        {%endblock%}
        </div>

</body>
</html>



<!--login--><!--
<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
<div id="id01" class="modal">
    <div class=container>
        <form class="modal-content animate" action="{%url 'signin'%}" method="POST">
        {%csrf_token%}
        <div class="form-group">
            <label for="Username">Username</label>
            <input name ="Username" type="text" class="form-control" id="Username" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input name="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Keep me logged in</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>

        <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    </div>
</div>
-->



