{%extends "base.html"%}

    {%block navcontents%}
    <li class="navbar-nav">
            <a class="nav-item nav-link" href="{% url "allusers" %}">Users</a>
    {%endblock%}
    {%block contents%}
    </li>
        <div class="jumbotron">
            <h1>HOME</h1>
            <h5>HOME  </h5><br>

        <br>
        <h1>Pictures of Coffee</h1>
        <div class="row">
                <div class="col-lg-4 col-sm-6">
                <a href="{% url "profile" %}"><img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/04LDEYRW59.jpg" class="img-thumbnail"/></a>
                </div>
               
        </div>
    {% endblock %}
