{%extends "base.html"%}
{%load bootstrap3%}
{%block contents%}
        <div class="jumbotron">
            {%if user.is_authenticated%}        
                <form enctype="multipart/form-data" method="POST">
                    {%csrf_token%}
                    {{form.non_field_errors }}
                    {%bootstrap_form form%}
                    <input type="submit" class="btn btn-primary" value = "Post">
                </form>
            {%else%}
            {%endif%}
        </div>
{% endblock %}