{%extends "base.html"%}
{%load bootstrap3%}
{%block contents%}

        <div class="jumbotron" style="background-color:#dbd9d9 !important;">
               <form method="POST">
                   {%csrf_token%}
                   {%bootstrap_form form%}
                   <input type="submit" class="btn btn-success" value="Confirm" style="display: inline; ">
                   <button type="Cancel"  class="btn btn-info" formaction="/creo/profile/" style="margin-left: 8px;">Cancel</button>
                </form>
               <p></p>
               

        </div>
{% endblock %}
